* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}


html {
	background-image: url('http://static.hdw.eweb4.com/media/wallpapers_dl/1/111/1109545-old-world-map.jpg');
}

body {
	position: relative;
	font-family: sans-serif;
	margin: 0;
	background: rgba(255,255,255, 0.2);
	box-shadow: 0px 47px 289px 200px rgba(255,255,255,0.2);
}

header {
	position: fixed;
	width: 100%;
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0px 0px 300px 250px rgba(255, 255, 255, 0.6);
	color: black;
	height: 80px;
	top:0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 35px;
	font-size: 18px;
	text-align: center;
	z-index: -1;
	/*border-bottom: 2px solid rgb(180,180,180);*/
}

header img {
	width: 200px;
	position: fixed;
	left: -20px;
	top: 0;
	
}

footer {
	box-shadow: 0px 0px 250px 50px rgba(255, 255, 255, 0.6);
	position: fixed;
	width: 100%;
}

.header--left {
	display: flex;
	align-items: center;
	width: 75%;
}

#lougout {
	color: black;
}

li {
	list-style: none;
	margin: 5px;
}

a {
	text-decoration: none;
	color: inherit;
}

.intro {
	width: 80%;
	margin: auto
}



form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.newItemForm {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 50px 0;
}

input {
	color: black;
	margin: 10px;
	width: 200px;
	height: 35px;
	font-size: 14px;
	padding-left: 10px;
	border: 2px solid rgb(60,60,60);
	background-color: rgba(255,255,255,0.2);
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgb(60,60,60);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: rgb(60,60,60);
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgb(60,60,60);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgb(60,60,60);
}

button {
	background-color: rgba(255,255,255,0.7);
	background-size: 100%;
	background-position: center;
	height: 35px;
	color: black;
	padding: 5px;
	font-size: 18px;
	margin: 10px;
	border-radius: 5px;
}

.text--center {
	text-align: center;
}

.main {
	width: 80%;
	margin: 40px auto;
	padding: 10px;
	font-size: 18px;
	z-index: 1;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*.vacations {
	display: flex;
	width: 90%;
	justify-content: flex-start;
	flex-wrap: wrap;
}*/


.vacation {
	font-size: 14px;
	/*font-size: 12px;*/
	/*background-image: url(../images/boat.png);*/
	background-size: 100% 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 30px;
	color: black;
	/*width: 100px;*/
	margin: 2%;
	text-align: center;
	border-radius: 10px;
	border: 1px solid black;
	position: relative;
	background: rgba(255, 255, 255, 0.6);
}

.vacation h2 {
	color: rgb(30,30,30);
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.categories {
	
	width: 90%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	
}




.listItem {
	display: flex;
}

.listItem li {
	text-decoration: underline;
}


.listItems {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	/*max-height: 100px;*/
	flex-wrap: wrap;
	padding: 20px 0px;
	margin-bottom: 30px;
}

.active {
	font-size: 18px;
	background: white;
	color: black;
	z-index: 1000;
	width: 80%;
	position: absolute;
	top: 100px;
	left: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	padding: 10px 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.6);
}

.active .header {
	color: black;
	border-bottom: none;
	margin-bottom: 30px;
}

#close {
	position: absolute;
	top: 10px; 
	right: 12px;
}

#delete {
	color: rgb(60,60,60);
	position: absolute;
	top: -10px;
	left: -10px;
}

#yelps {
	background: rgba(0,0,0,0.3);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: space-between;
	flex-wrap: wrap;
	border-radius: 10px;
}

#yelp{
	background: rgba(0, 0, 0, 0.8);
	color: white;
	margin: 2%;
	padding: 10px;
	border-radius: 10px;
	width: 200px;
}

.link--outlined {
	border: 2px solid rgb(60,60,60);
	padding: 10px;
}

.top--right {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 20px;
	right: 120px;
}

.border--box {
	border: 1px solid black;
	padding: 0 20px;
}

.transparent--dark {
	background: rgba(0,0,0,.4);
	color: white;
}

.center {
	text-align: center;
}

.weather {
	padding: 0 20px;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

/*#weather img {
	background: rgba(0,59,231,0.3);
	box-shadow: 0px 0px 40px 30px rgba(0,59,231,0.3);
	border-radius: 50%;
}
*/

.flex--row {
	display: flex;
	justify-content: space-between;
}

.flex--column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.margin {
	margin: 20px 0;
}

.box--shadow {
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.4);
	
}


.border--curved {
	border-radius: 30px;
}


#weather--5day {
	display: none;
}

#weather--3day {
	display: none;
}


@media (max-width: 800px) {

	.top--right {
	top: 60px;
	right: 20px;
	background: white;	
	}

	#weather--10day {
		display: none;
	}

	#weather--5day {
		display: flex;
	}

	header {
		border-bottom: none;
	}


}

@media (max-width: 510px) {

	#weather--5day {
		display: none;
	}

	#weather--3day {
		display: flex;
	}


}







